<!-- wp:template-part {"slug":"cafe-jindo-header","theme":"cafe-jindo-block","area":"uncategorized"} /-->

<!-- wp:cafeblocktheme/articleheader {"imgFocalPoint":{"x":0.5,"y":1}} -->
<!-- wp:heading {"level":"1"} -->
<h1 class="wp-block-heading">Menu</h1>
<!-- /wp:heading -->
<!-- /wp:cafeblocktheme/articleheader -->

<!-- wp:cafeblocktheme/articlecontainer -->
<!-- wp:block {"ref":801} /-->
<!-- /wp:cafeblocktheme/articlecontainer -->

<!-- wp:template-part {"slug":"cafe-jindo-footer","theme":"cafe-jindo-block","area":"footer"} /-->