/* Buttons
--------------------------------------------- */

.btn {
    background: $mainBlack !important;
    text-transform: uppercase;
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    padding: 1em 2em;
    margin: 1em;
    background-clip: padding-box;

    &:hover {
        opacity: 50%;
    }

    &--small {
        font-size: 0.7rem;
    }

    &--medium {
        font-size: 1rem;
    }

    &--large {
        font-size: 1.5rem;
    }

    &-secondary {
        text-transform: uppercase;
        color: #fff !important;
        margin-top: .8125rem;

        &:hover {
            background: rgba(255, 255, 255, 0.8) !important;
        }
    }

    &-order {
        font-size: 1rem;
        margin: 0;

        &-transparent {
            background: transparent !important;
            transition: ease-in-out 0.3s;
        }

    }

}

