.home {
    .parallax-container {
        position: relative;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 2px;
        perspective-origin: 0;
        transform-style: preserve-3d;
    }
}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.clearfix:after {clear: both;}

section {
    transform-style: preserve-3d;
}

.parallax {
    position: absolute;
    top: -45px;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.5) translate3d(33.3%, 17%, -1px);
    transform-origin: bottom right 0;
    background-size: cover;
    z-index: -1;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

.no-parallax {
    z-index: 1;
    background: $mainWhite;
    height: auto;
}