.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
    min-height: 200px;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    min-height: 200px;
}

.nav-prev, .nav-next, .nav-item {
    cursor: pointer;
    margin: 0 0.2em;

    @mixin atVerySmall {
        margin: 0 0.5em;
    }
}

.nav-prev, .nav-next {
    @media (hover: hover) {
        &:hover {
            color: $mainGrey;
        }
    }
}

.nav-item {
    order: 1;

    @mixin atSmall {
        order: revert;
    }
}

.nav-prev {
    order: 2;

    @mixin atSmall {
        order: revert;
    }
}

.nav-next {
    order: 3;

    @mixin atSmall {
        order: revert;
    }
}

.inactive {
    color: $mainGrey;
}

.swiper-nav {
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    font-family: Heebo, sans-serif;
    font-weight: bold;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
    margin-bottom: 2em;

    .swiper-nav-container {
        display: flex;
        flex-wrap: wrap;
    }

    @mixin atSmall {
        flex-wrap: nowrap;
    }
}