.article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    font-size: 2rem;
    background-color: $mainGrey;
    background-attachment: fixed;
    color: #fff;

    h1 {
        position: relative;
        top: 15%;
    }
}

.article-content {
    min-height: 600px;

}