/* Food menu
--------------------------------------------- */
#menu-nav {
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    border-bottom: 1px solid gray;
}

#menu-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

#menu-nav li {
    position: relative;
    float: left;
    padding: 0px 15px;
}

#menu-nav a {
    display: block;
    text-decoration: none;
    color: #060606;
    padding: 26px;
}

#menu-nav a:hover {
    text-decoration: line-through;
}

#menu-legend {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.menu-section {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid gray;
}

.menu-desc {
    width: 100%;
    margin-bottom: 30px;
    padding: 0px 0px;
}

.menu-desc h3 {
    font-weight: bold;
}

.menu-section h2 {
    font-family: 'Pinyon Script', cursive;
    font-size: 4em;
}

.menu-picture {
    min-width: 250px;
}

.menu-picture img {
    width: 250px;
}