.home {
    main {
        min-height: 650px;

        h1 {
            width:1px;
            height:1px;
            overflow:hidden;
            clip: rect(0, 0, 0, 0);
        }

        h2 {
            font-family: 'Cormorant Garamond', serif;
            font-size: 5.5rem;
        }

        h3 {
            font-family: 'Heebo', sans-serif;
            font-size: 2.2rem;
        }
    }


    .article-header {
        height: 0px;
    }
}

body.home {
    overflow:hidden;
}

section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;

    @mixin atMedium {
        height: 700px;
    }
}

.bg-overlay {
    position: relative;
    overflow: hidden;
}

.splash-container {
    font-size: 1.5rem;
    position: relative;
    top: 2rem;
    color: #fff;
    text-align: center;

    #splash-message {
        text-shadow: 1px 1px 2px #000;
        margin-top: 0;
        font-size: 4.5rem;

        @mixin atMedium {
            font-size: 5.5rem;
        }
    }
}
