/* Small menu. */
.menu-toggle {
    display: block;
    position: absolute;
    right: 0px;

    @mixin atMedium {
        display: none;
    }
}

.main-navigation {
    .toggled ul {
        display: block;
        position: absolute;
        right: 0px;
    }

    ul {
        @mixin atMedium {
            display: flex;
        }
    }
}

#mobile-dropdown {
    padding: 0 15px;
    display: none;
    position:absolute;
    width:100%;
    background:$mainBlack;

    ul {
        list-style: none;
        margin: 0;
        padding-left: 0;
        display: block;
    }

    li {
        border-bottom: 1px solid #262626;
        padding:20px;
    }

    a {
        text-decoration: none;
        padding: 10px;
    }
}