.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    &--gutters {
        column-gap: 1em;
    }

    .col-4 {
        grid-column: span 6;

        @mixin atMedium {
            grid-column: span 3;
        }
    }

    .col-3 {
        grid-column: span 12;

        @mixin atMedium {
            grid-column: span 4;
        }

    }

    .col-2 {
        grid-column: span 12;

        @mixin atMedium {
            grid-column: span 6;
        }
    }

    .col-1 {
        grid-column: span 12;
    }
}

