.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    width: 66.75em;
}

.nav-prev, .nav-next, .nav-item {
    cursor: pointer;
    margin: 0 0.5em;

    &:hover {
        color: $mainGrey;
    }
}

.inactive {
    color: $mainGrey;
}